/* web development courses  */
.Products-data {
  background-color: white;
  margin-bottom: 100px;
}

.Products-data .all-courses-top {
  /* margin-bottom: 70px; */
  padding-bottom: 10px;
}
.Products-data .cards-web {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.Products-data .card {
  margin-top: 20px;
  text-transform: capitalize;
  box-shadow: inset 1px 1px 16px #eef0f5;
  background-color: white;
  width: 349px;
  text-align: center;
  padding: 20px;
}
.Products-data .card:hover {
  box-shadow: 1px 1px 15px rgb(231, 228, 228);
}
.Products-data .card img {
   width: cover;
  height: 210px;
}
.Products-data .card span {
  font-size: 12px;
}

.Products-data .card h5 {
  color:  #4785f1;
  font-size: 20px;
  margin-top: 0px;
}
.Products-data .card h6 {
  color: gray;
}


.Products-data .btn {
  background-color: transparent;
  width: 50px;
  height: 50px;
  padding: 5px;
  font-size: 21px;
  border: 1px solid #4785f1;
  color: #4785f1;
  opacity: 0;
}
.Products-data .card:hover .btn {
  opacity: 1;
}

.Products-data .btns {
  margin-left: auto;
}

.Products-data .card-contain {
  margin-top: 10px;
}

.Products-data .all-courses-top .menu {
  margin-right: -40px;
  width: 300px;
  text-align: center;
  list-style-type: none;
}
/* CheckBox  component*/
.checkbox-input {
  margin-left: 60px;
  box-shadow: inset 1px 1px 15px rgb(207, 203, 203);
  padding: 10px;
  margin-top: 26px;
  width: 320px;
}

/* btn sorted by */
.checkbox-input .dropdown-toggle {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 300px;
  font-size: 23px;
  font-weight: 600;
  color: #db2d41;
  text-transform: capitalize;
  text-align: center;
}


/* media query */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 575.98px) {
  .Products-data {
    margin-top: 60px;
  }
  .Products-data h1 {
    font-size: 20px;
  }

  .Products-data p {
    font-size: 12px;
  }
  .Products-data .checkbox-input{display: none;}
  .Products-data .card{text-align: center;
  }

  .Products-data .card h5 {
    font-size: 13px;
    margin-top: 15px;
  }

  .Products-data .contsinWeb {
    display: none;
  }
  .Products-data .btns {
    font-size: 10px;
    margin-top: 10px;
  }
}
