.NewSection {
  border-top: 4px solid #e8e8ec;
  border-bottom: 4px solid #e8e8ec;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 14px;
  background-color: rgb(253, 251, 251);
  text-align: center;
  /* clip-path: polygon(0 90%, 100% 0, 100% 94%, 0% 100%); */
  /* -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%); */
  height: 800px;
}
.NewSection img {
  margin-left: -280px;
}
.NewSection h1 {
  margin-top: 290px;
  font-size: 60px;
}

.NewSection .btn {
  width: 230px;
  border: 1px solid #4785f1;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  margin-top: 20px;
  background-color: #4785f1;
  color: white;
}

/* 0px to 552px  phone size*/
@media all and (min-width: 0px) and (max-width: 575.98px) {
  .NewSection {
    height: 390px;
    margin-top: 80px;
  }
  .NewSection img {
    width: 40%;
    margin: auto;
    margin-top: 60px;
  }
  .NewSection .text-newswection {
    margin-top: -290px;
  }
  .NewSection h1 {
    font-size: 18px;
  }
  .NewSection h6 {
    font-size: 10px;
  }
  .NewSection .btn {
    font-size: 13px;
    width: 90px;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
.NewSection {
    height: 590px;
    margin-top: 80px;
  }
  .NewSection img {
    width: 60%;
    margin: auto;
  }
  .NewSection .text-newswection {
    margin-top: -280px;
  }
  .NewSection h1 {
    font-size: 18px;
  }
  .NewSection h6 {
    font-size: 10px;
  }
  .NewSection .btn {
    font-size: 13px;
    width: 90px;
  }
}
@media all and (min-width: 769px) and (max-width: 992px) {
.NewSection {
    height: 590px;
    margin-top: 80px;
  }
  .NewSection img {
    width: 80%;
    margin: auto;
  }
  .NewSection .text-newswection {
    margin-top: -340px;
  }
  .NewSection h1 {
    font-size: 18px;
  }
  .NewSection h6 {
    font-size: 10px;
  }
  .NewSection .btn {
    font-size: 13px;
    width: 90px;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
.NewSection {
    height: 390px;
    margin-top: 80px;
  }
  .NewSection img {
    width: 80%;
    margin: auto;
  }
  .NewSection .text-newswection {
    margin-top: -260px;
  }
  .NewSection h1 {
    font-size: 18px;
  }
  .NewSection h6 {
    font-size: 10px;
  }
  .NewSection .btn {
    font-size: 13px;
    width: 90px;
  }

}
