/* skill path component */
.info-game {
  margin-bottom: 100px;
  height: 540px;
  padding: 20px;
  padding-bottom: 120px;
  padding-top: 120px;
  background-color: rgba(238, 238, 238, 0.377);
  box-shadow: inset 1px 1px 10px rgb(212, 211, 211);

}
.info-game .container .row h1 {
  color: #db2d41;
  text-transform: capitalize;
  margin-top: 100px;
}
.info-game .container .row h6 {
  color: gray;
  margin-left: 5px;
  font-size: 14px;
  text-transform: capitalize;
}

.info-game .container .row .texts h6 {
  margin-top: 60px;
}
.info .container .row .texts h1 {
  color: #a31727;
  text-transform: capitalize;
  font-size: 50px;
}

.info-game .container .row .texts .info-text {
  font-size: 16px;
  color: rgb(80, 74, 74);
  margin-left: 10px;
  margin-top:40px
}

.info-game .container .row .texts .lower {
  margin-left: 10px;
  font-size: 14px;
  color: gray;
  font-weight: 600;
  text-transform: capitalize;
}

.info-game .container .row .Beginner-info {
  margin-top: 50px;
  text-align: center;
  margin-left: 160px;
  box-shadow: inset 1px 1px 15px rgb(212, 211, 211);
  margin-top: -29px;
}

.info-game .container .row .Beginner-info h4 {
  color:  #0000ff;
  text-align: center;
  font-size: 20px;
}

.info-game .container .row .Beginner-info h6 {
  margin-top: 10px;
  color: #a31727;
  font-size: 18px;
}

.info-game .container .row .Beginner-info p {
  font-weight: 600;
  color: gray;
  font-size: 15px;
}

/* media query */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 575.98px) {
  .info-game .container .row .texts {
    margin-left: -10px;
  }
  .info-game .container .row .texts h1 {
    color: #db2d41;
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 10px;
  }
  .info-game .container .row .texts p {
    font-size: 10px;
  }
  .info-game {
    height: 600px;
  }
  .info-game .container .row .Beginner-info {
    margin: auto;
    padding: 10px;
    margin-bottom: 100px;
  }
  .info-game .container .row .Beginner-info h3 {
    font-size: 13px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 576px) and (max-width: 768px) {
  .info-game .container .row .texts {
    margin-left: -10px;
  }
  .info-game .container .row .texts h1 {
    color: #db2d41;
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 10px;
  }
  .info-game .container .row .texts p {
    font-size: 10px;
  }
  .info-game {
    height: 600px;
  }
  .info-game .container .row .Beginner-info {
    margin: auto;
    padding: 10px;
    margin-bottom: 100px;
  }
  .info-game .container .row .Beginner-info h3 {
    font-size: 13px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 769px) and (max-width: 992px) {
  .info-game .container .row .texts {
    margin-left: -10px;
  }
  .info-game .container .row .texts h1 {
    color: #db2d41;
    text-transform: capitalize;
    font-size: 24px;
    margin-top: 10px;
  }
  .info-game .container .row .texts p {
    font-size: 13px;
  }
  .info-game {
    height: 600px;
  }
  .info-game .container .row .Beginner-info {
    /* margin: auto; */
    padding: 10px;
    margin-bottom: 100px;
    width: 60%;
  }
  .info-game .container .row .Beginner-info h3 {
    font-size: 13px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 992px) and (max-width: 1200px) {
  .info-game .container .row .texts {
    margin-left: -20px;
  }
  .info-game .container .row .texts h1 {
    font-size: 25px;
  }
  .info-game .container .row .texts p {
    font-size: 13px;
  }
  .info-game .container .row .Beginner-info h3 {
    font-size: 15px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 1201px) and (max-width: 1650px) {
  .info-game .container .row .texts {
    margin-left: -10px;
  }
  .info-game .container .row .texts h1 {
    font-size: 28px;
  }
}
