/* تقريبا red div for share us your opinion */
.Opinion {
  background: #a31727;
  height: 300px;
  margin-top: 100px;
  text-align: center;
}

.Opinion h1 {
  color: white;
  padding-top: 60px;
  text-transform: capitalize;
}

.Opinion p {
  color: rgb(218, 214, 214);
  font-size: 20px;
  padding-top: 5px;
}
.Opinion button {
  width: 200px;
  margin: auto;
  background: transparent;
  border: 2px solid rgb(231, 225, 225);
  color: rgb(218, 214, 214);
  font-size: 22px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;

}
/* media query */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 575.98px) {
  .Opinion {
    height: 260px;
    margin-top: -120px;
    margin-bottom: 100px;
  }
  .Opinion h1 {
    font-size: 23px;
  }
  .Opinion p {
    font-size: 16px;
  }
  .Opinion button {
    padding: 5px;
    font-size: 15px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 576px) and (max-width: 768px) {
  .Opinion {
    height: 230px;
    margin-top: -100px;
  }
  .Opinion h1 {
    font-size: 23px;
  }
  .Opinion p {
    font-size: 16px;
  }
  .Opinion button {
    padding: 5px;
    font-size: 15px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 769px) and (max-width: 992px) {
  .Opinion {
    height: 230px;
    margin-top: 0px;
  }
  .Opinion h1 {
    font-size: 25px;
  }
  .Opinion p {
    font-size: 16px;
  }
  .Opinion button {
    padding: 5px;
    font-size: 18px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 992px) and (max-width: 1200px) {
  .Opinion {
    height: 260px;
    margin-top: -90px;
  }
  .Opinion h1 {
    font-size: 29px;
  }
  .Opinion p {
    font-size: 18px;
  }
  .Opinion button {
    padding: 5px;
    font-size: 18px;
  }
}
